{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="body">
<div class="title">
<h1>My Shopping List</h1>
</div>
<div class="AddNewLists">

</div>
     <div class="ShoppingLists3">
        <h5>Wpisz interesujące Cie produkty</h5>
         <form action="/update/{{task.list_id}}" method="POST">
             <input type="text" name="content" id="content" value="{{task.content}}"><br>
             <input type="submit" value="Zaktualizuj liste">
         </form>
    </div>
<div class="content">



</div>
</div>
<footer>
  <p>Autor: Hubert Ostrowski</p>
  <p><a id="stopka" href="mailto:hubert.ostrowski@student.ukw.edu.pl">hubert.ostrowski@student.ukw.edu.pl</a></p>
</footer>
{% endblock %}